<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Agregar Alumno</h2>
    <!-- Fila: Nombre -->
    <div class="form-row single">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" formControlName="nombre"/>
      </div>
    </div>
  
    <!-- Fila: Edad, Sexo y Fecha de Nacimiento -->
    <div class="form-row">
      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" name="edad" id="edad" formControlName="edad" />
      </div>
      <div class="form-group">
        <label for="sexo">Sexo</label>
        <select name="sexo" id="sexo" formControlName="sexo">
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecha">F. Nacimiento</label>
        <input type="date" name="fecha" id="fecha" formControlName="fechaNacimiento" />
      </div>
    </div>
  
    <!-- Fila: Teléfono y Correo -->
    <div class="form-row">
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" formControlName="telefono"/>
      </div>
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" formControlName="correo" />
      </div>
    </div>
  
    <!-- Fila: Dirección y Carrera -->
    <div class="form-row">
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" formControlName="direccion" />
      </div>
      <div class="form-group">
        <label for="carrera">Carrera</label>
        <input type="text" name="carrera" id="carrera" formControlName="carrera" />
      </div>
    </div>
    @if (errorDatosFaltantes()) {
      <div class="error">
        <p>Por favor complete todos los campos</p>
      </div>
    }
  
    <!-- Botones de Acción -->
    <div class="actions">
      <a [routerLink]="['../']">Cancelar</a>
      <button type="submit">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        width="30" height="30" 
        stroke-width="1.75"> <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path> <path d="M16 19h6"></path> <path d="M19 16v6"></path> <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path> </svg> 
      </button>
    </div>
  </form>
    